html{
   
    position: relative;
    width: 1440px;
    height: 1024px;

    background: #EBD6D3;
}
body{
    
    background: #EBD6D3;
}

.cabecalho{
    position: absolute;
    width: 1440px;
    height: 188px;
    left: 0px;
    top: 0px;

    background: linear-gradient(180deg, #371CC2 0%, #EBD6D3 100%);
}
.cabecalho-logo{
    position: absolute;
    width: 235px;
    height: 163px;
    left: 210px;
    top: 17px;
    
}
.cabecalho-titulo{
    position: absolute;
    width: 740px;
    height: 68px;
    left: 379px;
    top: 26px;
    
    font-family: 'Italianno';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    text-align: center;
    
    color: #A10077;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
}
.cabecalho-subtitulo{
    position: absolute;
    width: 758px;
    height: 56px;
    left: 361px;
    top: 101px;
    
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    
    color: #000000;
}
.menu{
    position: absolute;
    width: 1440px;
    height: 27px;
    left: 0px;
    top: 188px;
    
    background: #371CC2;
}
.menu-itens{
    position: absolute;
    width: 93px;
    height: 28px;
    left: 108px;
    top: 188px;
    
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */
    
    text-align: center;
    
    color: #FFFFFF;
    display: inline-block;
    
    padding: 4px;
    margin: 0 16px;
}
.lateral{

    position: absolute;
    width: 411px;
    height: 637px;
    left: 0px;
    top: 215px;
    
    background: linear-gradient(180deg, #371CC2 0%, #EBD6D3 100%);
}
.lateral-itens{
    top: 60px;
    width: 180px;
    left: 22px;
    font-family: 'Inter';
    font-style: italic;
    font-size: 20px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
}
footer{

    position: absolute;
    width: 1440px;
    height: 27px;
    left: 0px;
    top: 852px;
    
    background: #371CC2;
}
.footer-texto{
    position: absolute;
    width: 605px;
    height: 19px;
    left: 458px;
    top: 852px;
    
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    
    color: #000000;
}
.rodape{
    position: absolute;
    width: 1440px;
    height: 145px;
    left: 0px;
    top: 879px;
    
    background: linear-gradient(180deg, #EBD6D3 0%, rgba(161, 0, 119, 0.66) 46.88%, #371CC2 100%);
}